---
import Main from "@src/layouts/Main.astro";

const currentYear = new Date().getFullYear();
---

<Main>
  <section class="col fcenter wfull">
    <h1>Programa electoral {currentYear}</h1>
    <p>Descarrega el nostre <strong>Programa Electoral {currentYear}</strong> de clicant en qualsevol dels següents enllaços</p>

    <div class="pdf col acenter wfull">
      <a
        role="button"
        href="/SITGESGI_programa-electoral-2023_catala.pdf" target="_blank">Català</a
      >
      <a
        role="button"
        href="/SITGESGI_programa-electoral-2023_castellano.pdf" target="_blank">Castellà</a
      >
      <!-- <a
        role="button"
        href="/SITGESGI_programa-electoral-2023_english.pdf" target="_blank">Anglès</a
      > -->
    </div>
  </section>
</Main>

<style>
  section {
    max-width: var(--media-lg);
    gap: 2em;
    padding: 4em 1em;

    @media (max-width: 720px) {
      padding: 2em;
    }
  }

  h1,
  p {
    text-align: center;
  }

  .pdf {
    gap: 1em;

    & a {
      max-width: 250px;
      width: 80%;
    }
  }
</style>
